<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Directive</title>
  <style>
    section {
      border: 1px solid rgb(0, 255, 213);
      padding: 5px;
    }
  </style>
  <script src="./js/jquery.1.7.2.js"></script>
  <script src="./js/angular-1.2.0/angular.js"></script>
</head>

<body>
  <section id="section_1" ng-app="app1" ng-controller="firstCtrl">
    <div>
      <h1 ng-bind="name"></h1>
      <button ng-click="handleClick1()">调用方法 change name</button>
      <button ng-click="handleClick2()">调用方法 change user</button>
    </div>

    <hello-world testPriority data-title="title in attrs"></hello-world>
    <hello-world-scope-false ng-show="false"></hello-world-scope-false>
    <hello-world-scope-true ng-show="false"></hello-world-scope-true>
    <hello-world-scope-new-a ng-show="false" data-parent-name="{{name}}" data-parent-user="{{user}}">
    </hello-world-scope-new-a>
    <hello-world-scope-new-equal ng-show="false" data-parent-name="name" data-parent-user="user">
    </hello-world-scope-new-equal>
    <hello-world-scope-new-and ng-show="false" data-hanle-click="handleClick1()"></hello-world-scope-new-and>
    <hello-world-scope-transclude data-my-color="green">
      <div>transclude 取值name: {{name}}</div>
      <div>transclude 取值name: {{user.age}}</div>
    </hello-world-scope-transclude>
  </section>
  <script>
    var app1 = angular.module('app1', [])
      .controller('firstCtrl', function ($scope, $location) {
        $scope.name = 'RC';
        $scope.user = {
          age: 27
        };
        $scope.handleClick1 = function () {
          console.info('handleClick1');
          $scope.name = 'Click RC';
        }
        $scope.handleClick2 = function () {
          console.info('handleClick2');
          $scope.user.age = 28;
        }
      })
      .directive('helloWorld', function () {
        return {
          restrict: 'AE',
          template: function (el, attrs) {
            // console.log(arguments);
            return `
              <div>
                <h1>自定义指令!</h1>
                <h2>I am {{name}}</h2>
                <h2>age: {{user.age}}</h2> 
                <!-- <h3>${attrs.title}</h3> -->
              </div> 
            `
          },
          // templateUrl: './template/helloworld.html', // 需要本地起静态服务
          replace: true,
          scope: true,
        };
      })
      .directive('helloWorldScopeTrue', function () {
        return {
          restrict: 'E',
          template: `
            <section>
              <h1>自定义指令  scope === true</h1>
              <input ng-model="name" />
              <h2>I am {{name}}</h2>
            </section> 
          `,
          scope: true,
        }
      })
      .directive('helloWorldScopeFalse', function () {
        return {
          restrict: 'E',
          template: `
            <section>
              <h1>自定义指令  scope === false</h1>
              <input ng-model="name" />
              <h2>I am {{name}}</h2>
            </section> 
          `,
          scope: false,
        }
      })
      .directive('helloWorldScopeNewA', function () {
        return {
          restrict: 'E',
          template: `
            <section>
              <h1>自定义指令 new scope @</h1>
              <input ng-model="name" />
              <h2>I am {{name}}</h2>
              <hr />
              <h2>{{user}}</h2>
            </section> 
          `,
          scope: {
            name: '@parentName',
            user: '@parentUser' // 这里如果传值是个对象，会收到字符串的形式
          },
        }
      })
      .directive('helloWorldScopeNewEqual', function () {
        return {
          restrict: 'E',
          template: `
            <section>
              <h1>自定义指令 new scope =</h1>
              <input ng-model="name" />
              <h2>I am {{name}}</h2>
              <hr />
              <input ng-model="user.age" />
              <h2>{{user.age}}</h2>
              <button ng-click="hanleClick()">Btn</button>
            </section> 
          `,
          scope: {
            name: '=parentName',
            user: '=parentUser',
            hanleClick: '&hanleClick'
          },
        }
      })
      .directive('helloWorldScopeNewAnd', function () {
        return {
          restrict: 'E',
          template: `
            <section>
              <h1>自定义指令 new scope &</h1>
              <button ng-click="hanleClick()">调用父作用域函数</button>
            </section> 
          `,
          scope: {
            hanleClick: '&hanleClick'
          },
        }
      })
      .directive('helloWorldScopeTransclude', function () {
        return {
          restrict: 'E',
          transclude: true,
          template: `
            <section>
              <h1>Transclude</h1>
              <h2>{{name}}</h2>
              <div ng-transclude></div>  
            </section> 
          `,
          controller: function ($scope, $element, $attrs, $transclude, $log) {  //在这里你可以注入你想注入的服务  
            $scope.name = '11';
            $transclude(function (clone) {
              var html = `
              <div>
                <p ng-bind="name"></p>
                <input ng-model="name">
              </div>
              `;
              var a = angular.element(html);
              
              a.css('color', $attrs.myColor);
              a.append(clone);
              for(let i = 0; i < clone.length; i++) {
                $log.info(clone[i].tagName, clone[i]);
              }
              $element.append(a);
            });
            
            $log.info('hello everyone');
          },  
          scope: {
            // name: 'transcludeName',
            hanleClick: '&hanleClick'
          },
        }
      });

    /*
    指令里的 scope 赋值：
    （1）默认值false 表示继承父作用域;
    （2）true 表示继承父作用域，并创建自己的作用域（子作用域）;
    （3）{} 表示创建一个全新的隔离作用域；
    */
  </script>
</body>

</html>